* {
    font-family: 'Times New Roman', Times, serif;
}

/* Footer styling */
.footer {
    position:fixed;
    bottom:0;
    width:100%;
    height:60px; 
}

/* List View Styling */
.list-view{
    width: 70%;
    padding-top: 2%;
    
}

/* Detail View Styling */
.detail-view{
    width: 70%;
    padding-top: 2%;
    border: 2px solid black;
    border-radius: 5px;
}

/* Edit and delete button styling */
.edit-delete-right{
    float: right;
}

/* Center paragraphs */
.center-paragraph{
    text-align: center;
}

/*  Authentication section */
#delete-job, #logout, #login,#register, #no-super-permission{
    width: 50%;
    text-align: center;
    margin-top: 50px;
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px;
}

/* Navigation bar styling */
#nav-bar{
    background-color: #7D869C;
}

/* Body styling */
main{
    background-color: white;
    padding-bottom: 60px;
}

/* Heading styling */
h1, h3{
    margin-top: 10px;
    text-align: center;
}

/* Media queries */
@media (max-width: 768px) {
    .list-view, .detail-view{
        width: 100%;
        padding-top: 2%;
    }
}

