{% extends "base.html" %}


{% block content %}

{% load crispy_forms_tags %}
<h1>Draft Details</h1>
<div class="container detail-view">
    <div class="row">
        <div class="col">
            <div class="card-body">
                <!-- {% if submited %}
                    submited
                {% else %} -->
                {% if user.is_authenticated %}
                
                <a href="{% url 'edit_job' job.pk %}"><i class="fa-solid fa-pencil"></i></a>
                <a href="{% url 'delete_job' job.pk %}"><i class="fa-solid fa-trash-can"></i></a>
                <form method="POST" action="#">
                    {% csrf_token %}
                    <h2>Job Title: {{ job.title }} 
                        
                    </h2>
                    <h4>Posted on: {{ job.created_on }}</h4>
                    <h4>Location: {{ job.location }}</h4>
                    <h4>Salary: {{ job.salary }}</h4>
                    <h4>Position Type: {{ job.postition_type }}</h4>
                    <hr>
                    <h4>Description:</h4>
                    <p>{{ job.description | safe}}</p>
                    <input type="submit" class="btn btn-primary" value="Publish Job">
                </form>
                {% endif %}

        <!-- {% endif %} -->

                
            </div>
        </div>
    </div>
</div>




{% endblock %}