{% extends "base.html" %}


{% block content %}
{% load crispy_forms_tags %}

Job application cover letter
<div id="application-details" class="container">
        <div class="row">
                <div class="col">
                        <h2>Job Title: {{ job.title }}</h2>
                        <h4>Location: {{ job.location }}</h4>
                        <h4>Salary: {{ job.salary }}</h4>
                        <h4>Position Type: {{ job.postition_type }}</h4>
                        <hr>
                        <h4>Description:</h4>
                        <p>{{ job.description | safe}}</p>
                        <hr>
                        <h4>Applicant Username: <a href="{% url 'user_profile' application.user.id %}">{{application.full_name}}</a> </h4>
                        <hr>
                        <h4>Cover Letter: </h4>
                        
                        <p>{{ application.cover_letter | safe }}</p>
                        <p>{{ application.created_on }}</p>
                </div>
        </div>
</div>


        

{% endblock %}