{% extends "base.html" %}


{% block content %}

{% load crispy_forms_tags %}

<div class="container">
    <div class="row">
        <div class="col">
            <div class="card-body">
                <!-- {% if submited %}
                    submited
                {% else %} -->
                {% if user.is_authenticated %}
                
                <form method="POST" action="#">
                    <h2>Title: {{ job.title }}</h2>
                    <h4>Employer: {{ job.employer.id }}</h4>
                    <h4>Location: {{ job.location }}</h4>
                    <h4>Salary: {{ job.salary }}</h4>
                    <h4>Position Type: {{ job.postition_type }}</h4>
                    <hr>
                    <h4>Description:</h4>
                    <p>{{ job.description | safe}}</p>
                    <hr>
                    <h4>Cover Letter: </h4>
                    <p>{{ cover_letter | crispy }}</p> 
                    
                    {% csrf_token %}
                    <input type="submit" value="Submit cover letter">
                </form>
                {% endif %}
                <!-- {% endif %} -->

                
            </div>
        </div>
    </div>
</div>




{% endblock %}