{% extends "base.html" %}


{% block content %}

{% load crispy_forms_tags %}

<div id="job-details" class="container">
    <div class="row">
        <div class="col">
            <div class="card-body">
                <!-- {% if submited %}
                    submited
                {% else %} -->
                {% if user.is_authenticated %}
                {% if user.is_authenticated %}
                    <form action="{% url 'job_save' job.slug %}" method="POST">
                        {% csrf_token %}
                        {% if saves %}
                        
                        <button type="submit" value="{{ job.slug }}" class="btn"><i class="fas fa-heart"></i><p>Have you applied already? Let's discard the saved job. </p></button>
                        {% else %}
                        <button type="submit" value="{{ job.slug }}" class="btn"><i class="far fa-heart"></i><p></p>Like a job? Save it here!</button>

                        {% endif %}
                    </form>
                {% endif %}
                
                <form method="POST" action="#">
                    <h2>Job Title: {{ job.title }} 
                        <span>
                            
                        </span>
                    </h2>
                    <h4>Posted on: {{ job.created_on }}</h4>
                    <h4>Location: {{ job.location }}</h4>
                    <h4>Salary: {{ job.salary }}</h4>
                    <h4>Position Type: {{ job.postition_type }}</h4>
                    <hr>
                    <h4>Description:</h4>
                    <p>{{ job.description | safe}}</p>
                    <hr>
                    <h4>Cover Letter: </h4>
                    <p>Please provide your EMAIL and PHONE number in the cover letter</p>
                    <p id="cover-letter-form" >{{ cover_letter | crispy }}</p> 
                    
                    {% csrf_token %}
                    <input id="submit-application" type="submit" value="Submit cover letter">
                </form>
                {% endif %}

        <!-- {% endif %} -->

                
            </div>
        </div>
    </div>
</div>




{% endblock %}