{% extends "base.html" %}


{% block content %}

Applicants page 



{% for applicant in coverletter_list %}
<div class="container mt-4">
    <div class="card" id="job-listing">
    <h5 class="card-header">
        {{ applicant.full_name }} - <a href="{% url 'user_profile' profile.pk %}">Go to profile</a>
    </h5>
        <div class="card-body">
            <h5 class="card-title">{{ applicant.jobs.title }}</h5>
            <h5 class="card-title">{{ applicant.jobs.location }} </h5>            
            <h5 class="card-title">{{ applicant.created_on }}</h5>
            <a href="{% url 'application_details' applicant.pk %}" class="btn btn-primary">View Application</a>
            
        </div>
    </div>
</div>
{% endfor %}

{% if is_paginated %}
<nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
            <li>
                <span><a href="?page={{ page_obj.previous_page_number }}">Previous</a></span>
            </li>
        {% endif %}
            <li class="">
                <span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.</span>
            </li>
        {% if page_obj.has_next %}
            <li>
                <span><a href="?page={{ page_obj.next_page_number }}">Next</a></span>
            </li>
        {% endif %}
    </ul>
</nav>
{% endif %}


{% endblock %}