{% extends "base.html" %}


{% block content %}

<h1>Profile</h1>
<div id="profile-details" class="container">
        <div class="row">
                <div class="col">
                        <h3>Tilte: {{ user_details.title }}</h3>
                        <h3>First Name: {{user_details.user.first_name}}</h3>
                        <h3>Last Name: {{user_details.user.last_name}}</h3>
                        <h3>Date of Birth: {{ user_details.date_of_birth }}</h3>
                        <h3>Nationality: {{ user_details.country.name }}</h3>
                        <h3>Gender: {{ user_details.gender }}</h3>
                        <hr>
                        <h3>Bio:</h3>
                        <p>{{ user_details.bio | safe}}</p>
                        

                </div>
        </div>
</div>


{% endblock %}